.delivery-detail {
    border-bottom: 1px solid #273043;
    height: 5rem;
    margin-bottom: 0.5rem;
}

.delivery-information {
    display: inline-block;
    width: 80%;
}

.delivery-buttons {
    float: right;
}

.button-accept {
    border: 2px solid #07BEB8;
    background: transparent;
    color: #07BEB8;
    font-weight: 500;
    padding: 0.3rem 0.5rem;
    border-radius: 0.5rem;
    margin-right: 1rem; 
}

.button-reject {
    border: 2px solid red;
    background: transparent;
    color: red;
    font-weight: 500;
    padding: 0.3rem 0.5rem;
    border-radius: 0.5rem;
    margin-right: 1rem; 
}

.order-number {
    font-size: 1rem;
    font-style: italic;
    color: grey;
    font-weight: 500;
}

.padding-words {
    padding-right: 0.5rem;
}

.sender-phone, .receiver-phone {
    font-style: italic;
}